<% if @password %>
<h1>Sorry, you have entered an incorrect password.</h1>
<% elsif @logout %>
<h1>You have successfully logged out!</h1>
<% else %>
<h2>You shouldn't be here... would you like to play a game?</h2>
<a href="http://chimerus.github.io" title="A game">A game</a>
<% end %>