<div class="topic container">
  <h1>FAQs</h1>
  <p>At any page, you can return to the home page by clicking the main title "Blue Skies: A quadcopter forum" </p>
  <p>To upvote a topic, first login, then click the "Topics" button and underneath each topic is the upvote button!</p>
  <p>Yes, you can upvote as much as you want, but there are no downvotes, lets keep positive!</p>
  <p>To see the responses to the topic, click on the topic title to go to the thread.</p>
  <p>To view all topics and comments by a user, click on their name. If you are logged in, you can see their full profile.</p>
  <p>Gravatar is supported! If you do not supply an image during signup, either your gravatar (based on email) or a default image will be generated for you.</p>
  <p>You may edit your posts/comments from anywhere other than the home page! If you are logged in, a small button will reveal a form to change the content. However, you cannot change the title.</p>
  <p>The date your post/comment was created or last edited as well as when you joined is stamped.</p>
  <p>To tag your topic as a review, simply click the review checkbox during creation! The option to edit this will not appear again so be careful!</p>
</div>