<form action="/post" method="post">

  <div>
    <label for="name">Name: </label>
    <input name="name" type="text" required/>
  </div>

  <div>
    <label for="password">Password: </label>
    <input name="password" type="password" required/> 
  </div>

  <div>
  <input type="submit" value="Submit" />
  </div>
</form>