<% if session['logged_in'] %>
<form action="/regular_post" method="post">
  <div>
    <label for="content">Enter text here, bro </label>
    <textarea name="content" required></textarea> 
  </div>

  <div>
  <input type="submit" value="Submit" />
  </div>
</form>
<% else %>
  <h1>Nothing to see here, Bro</h1>
<% end %>