<h1>Signup</h1>  
<%= session['the_sell'] %>
<form action="/signup" method="post">
<div class="row container">
  <div>
    <label for="name">Forum name: </label>
    <input name="name" placeholder="Forum Name" type="text" required/>
  </div>

  <div>
    <label for="email">Email: </label>
    <input name="email" placeholder="email@email.com" type="email" required/>
  </div>

  <div>
    <label for="password">Password: </label>
    <input name="password" placeholder="Password" type="password" required/> 
  </div>

  <div>
    <label for="real_name">Real name (optional): </label>
    <input name="real_name" placeholder="Real name" type="text" /> 
  </div>

  <div>
    <label for="img_link">Profile picture link(optional): </label>
    <input name="img_link" placeholder="link" type="text" /> 
  </div>

  <div>
    <label for="about">About (optional): </label>
    <textarea name="about" placeholder="Tell us about yourself!"></textarea> 
  </div>

  <div>
  <input type="submit" value="Submit, Bro!" />
  </div>
</div>
</form>