<h1>All Topics</h1>
<p>placeholder text: add list of topics here</p>
<% if session['logged_in'] %>
    <h3>logged!</h3>
    <form action="/topics" method="post">

  <div>
    <label for="Title">Title: </label>
    <input name="name" type="text" required/>
  </div>

  <div>
    <label for="email">Email: </label>
    <input name="email" type="email" required/>
  </div>

  <div>
    <label for="password">Password: </label>
    <input name="password" type="password" required/> 
  </div>

  <div>
  <input type="submit" value="Join" />
  </div>
</form>
<% else %>
  <h3>not logged in</h3>
<% end %>